<div class="container">
  <h1>Edit Task</h1>
  <div class="row">
    <div class="col-md-6">
      <form #taskForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="task.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Priority</label>
          <input type="text" class="form-control" [(ngModel)]="task.priority" name="priority" required>
        </div>
        <div class="form-group">
          <label for="name">Parent Task Name</label>
          <input type="text" class="form-control" [(ngModel)]="task.parentTaskName" name="parentTaskName">
        </div>
        <div class="form-group">
          <label for="name">Start Date</label>
          <input type="Date" class="form-control" [(ngModel)]="task.startDate" name="startDate" required>
        </div>
		
		 <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!taskForm.form.valid" (click)="updateTask(task.id)">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>